.h1{
    font-family: "Indie Flower";
    text-align: center;
    color: #9F2DBD;
    text-decoration: underline;
}

.Section{
    float: right;
    font-size: 1.09rem;
    margin-right: 5vw;
    overflow: hidden;
}

.MyDannyEssay{
    text-align: center;
    max-height: 45vh;
    max-width: 40vw;
    background-color: rgba(155,155,155, .35);
    border: 1px solid #b298dc;
    border-radius: 3px;
}