ul {
    list-style-type: none;
    font-size: 1.5rem;
    border: 2px solid rgba(159,45,189);
    width: 66.6%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    overflow: hidden;
}


li{
    display: inline-block;
    text-align: center;
    width: 25%;
}



li:hover{
    color: white;
    background-color: rgba(159,45,189,.5);
}

li:active{
    color: #b8d0eb;
}